



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>
     Benjamin
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>

  	<%= csrf_meta_tags %>
  </head>
<body>
  <script>
  $(function(){
      $(".element").typed({
        strings: ["What's the best credit card for me?",
                  "How do I open a retirement account?",
                  "Can I get cheaper car insurance?",
                  "Can I refinance my student loans?"
                  ],               
        typeSpeed: 0,
        loop:true,
        showCursor:false,
        backSpeed:1,
        backDelay:3000
      });
  });
</script>
  
  <%= yield%>



  </body>
</html>

